.loadSpinner {
    height: 95vh;
    width: 95vh;
    text-align: center;
}

.spinner-center {
    width: 100%;
    text-align: center;
    display: inline-block;
}

@media screen and (orientation: portrait) {
    .loadSpinner {
        height: 95vw;
        width: 95vw;
    }
}

@media screen and (orientation: landscape) {
    .loadSpinner {
        height: 95vh;
        width: 95vh;
    }
}